name: Playwright Tests
on:
  schedule:
    - cron: '0 12 * * *'
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: [dev, stg]
      fail-fast: true
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests (${{ matrix.env }})
      env:
        ENV: ${{ matrix.env }}
        BASE_URL_FRONT: ${{ secrets.BASE_URL_FRONT }}
        BASE_URL_API: ${{ secrets.BASE_URL_API }}
        HEADLESS: 'true'
        CI: 'true'
      # run: ENV=stg npx playwright test e2e/ --reporter=dot
      run: npm run test:${{ matrix.env }}
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report-${{ matrix.env }}
        path: playwright-report/
        retention-days: 30
